./*selected {
	background-color: pink;
}*/

ol li {
	list-style-type: lower-alpha;
}

.hidden {
	display: none;
}

.deactivate a{
	visibility: hidden;
}

.deactivate form {
	visibility: hidden;
}

.score {
	color: red;
}

.question {
  height: 382px;
	border-radius: 2px;
}

.question-title {
	padding: 5px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
}

.single-question {
	margin-bottom: 35px;
}

.svg-single {
	-ms-transform: rotate(180deg) scale(0.55,0.55); 
  -webkit-transform: rotate(180deg) scale(0.55,0.55); 
  -moz-transform: rotate(180deg) scale(0.55,0.55);
  -o-transform: rotate(180deg) scale(0.55,0.55);
  transform: rotate(180deg) scale(0.55,0.55);
  margin-bottom: -3em;
}

.board {
	height: 650px;
	margin-top: -3em;
}

.single-option {
	text-align: center;
}

.option-title {
	margin-top: -4em;
}

.nav-wrapper a {
	color: #101;
}