body {
	font-family: 'Roboto', sans-serif;
}

.btn {
	-webkit-transform: scale(0.9,0.9);
	-moz-transform: scale(0.9,0.9);
	-ms-transform: scale(0.9,0.9);
	-o-transform: scale(0.9,0.9);
	transform: scale(0.9,0.9);
}

ol li {
	list-style-type: lower-alpha;
}

.hidden {
	display: none;
}

.deactivate a{
	visibility: hidden;
}

.deactivate form {
	visibility: hidden;
}

.orientation-alert {
  visibility: hidden;
  opacity: 0.0;
  position: fixed;
  top: 9%;
  right: 7%;
  color: red;
  font-size: 16px;
}

.score {
	color: red;
	font-size: 21px;
	font-family: 'Share Tech Mono';
  margin-right: 2px;

}

.single-score {
	color: red;
	font-size: 21px;
	font-family: 'Share Tech Mono';
}

.question {
  height: 470px;
	border-radius: 2px;
}

.question-title {
	padding: 7px 10px;
	font-size: 17px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
}

.option-title {
	 font-size: 17px;
}

.single-question {
	margin-bottom: 35px;
}

.svg-single {
	-ms-transform: rotate(180deg) scale(0.55,0.55); 
  -webkit-transform: rotate(180deg) scale(0.55,0.55); 
  -moz-transform: rotate(180deg) scale(0.55,0.55);
  -o-transform: rotate(180deg) scale(0.55,0.55);
  transform: rotate(180deg) scale(0.55,0.55);
  margin-bottom: -3em;
}

.board {
	height: 50px;
	margin-top: -18em;
}

.svg-container {
	margin: 0 5px;
}

.single-option {
	text-align: center;
}

.data-wrapper{
	margin-top: -5em;
}

.nav-wrapper a {
	color: #101;
}

#login-dropdown-list {
  left: -201%;
}

.button-group {
	padding-top: 1.8em;
  text-align: center;
}

@media (max-width: 600px) {
	.question {
	  height: 430px;
	  border-radius: 2px;
	}
}