.selected {
  border: 1px dotted #26a69a;
  border-bottom: none;
}


ol li {
	list-style-type: lower-alpha;
}

.hidden {
	display: none;
}

.deactivate a {
	visibility: hidden;
}

.deactivate form {
	visibility: hidden;
}

.score {
	color: red;
}

.question {
	height: 340px;
	border-radius: 2px;
}

.question-title {
	padding: 5px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
}

.single-question {
	margin-bottom: 35px;
}