<template name="singleQuestion">
	<div class="">
		<div class="single-question right-align">
			<h3>{{question}}</h3>
			<h5>Pregunta: {{creatorName}}</h5>
		</div>
		<div class="container board">
			<div class="row {{checkVoted}}">
				{{#each options}}
					<div class="single-option {{selectedClass}}">
							<div class="col m2">
								<div class="svg-container">
									<svg xmlns="http://www.w3.org/2000/svg" height="100%" width="50%">
										<rect x="0" y="0" height="{{score}}0" width="60" fill="none" stroke="#ff8a65" stroke-width="3"></rect>
		 							</svg>
	 							</div>
	 							<h5>{{option}}</h5>
	 							<h4>{{score}}</h4>
								{{#if currentUser}}
									<a class="btn waves-effect waves-light vote-btn vote-option">Votar!</a>

								{{else}}
									<p>Debes estar logueado para votar</p>
								{{/if}}
							</div>
						</div>
					
				{{/each}}
				
			</div>
		</div>
	</div>

</template>