<template name="allQuestions">
	<div class="">
		<div class="row">
			{{#each questions}}
				<div class="col s12 m4 l3 question">
					<p class="z-depth-3 question-title">{{question}}</p>
					<ul class="collection">
						{{#each options}}
							<li class="collection-item">{{option}}<br> 
								<span class="score">{{score}}</span>
								<svg xmlns="http://www.w3.org/2000/svg" height="10px" width="100px">
										<rect x="0" y="0" height="5" width="{{scoreExpSmall}}" fill="#558b2f" stroke="#558b2f" stroke-width="10"></rect>
		 							</svg>
							</li>
						{{/each}}
					</ul>
					<div class="valign-wrapper">
						<a class="btn waves-effect waves-light z-depth-2 valign blue-grey darken-3" href="question/{{_id}}">Votar!</a>
					</div>
				</div>
			{{/each}}
		</div>
	</div>

</template>