<template name="userQuestions">
	<form class="create-question">
    <div class="row valign-wrapper">
      <div class="col s12 m4 input-field valign">
        <input type="text" class="" name="question" placeholder="Crea tu pregunta" />
      </div>
    </div>
    <div class="row valign-wrapper">
      <input type="submit" class="btn waves-effect waves-light valign" value="enviar"/>
    </div>
  </form>
  <div class="container">
    <div class="row">
      {{#each userQuestions}}
      
        <div class="new-question col s12 l4 {{ selectedClass }}">	
          <h5>{{question}}</h5>
          <form class="create-option {{hideClass}}">
            <input type="text" class="" name="option" placeholder="Agrega una opcion" />
            <input type="submit" class="btn waves-effect waves-light" value="ok"/>
          </form>
          <ol class="options">
            {{#each options}}
              <li><h6>{{option}}</h6></li>
            {{/each}}
          </ol>
          <button class="btn waves-effect waves-light set-done {{hideClass}}">Preguntar!</button>
        </div>
      
      {{/each}}
    </div>
  </div>
</template>